@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form name="test" action="~/api/report/reportimage" method="post" enctype="multipart/form-data">
            Description: <input type="text" name="description" />
            Latitude: <input type="text" name="latitude" />
            Longitude: <input type="text" name="longitude" />
            File: <input type="file" name="File" />
            <input type="submit" />
        </form>
        

    </div>
    <div>
        <form name="registerExternal" action="~/api/account/registerexternal" method="post" >
            email: <input type="text" name="email" />            
            <input type="submit" />
        </form>
    </div>
</body>
</html>
